
  
  .navbar {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .landing {
    min-height: 100vh;
    background: linear-gradient(to right, #79c7ff, #a1ffce);
    padding-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
 .section-block {
    padding: 5rem 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .bg-light {
    background: linear-gradient(to left, #79c7ff, #a1ffce);
  }
  
  .bg-white {
    background: linear-gradient(to right, #79c7ff, #a1ffce);
  }
  
  .bg-primary {
    background-color: #b7f00c !important;
  }
  
  .modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  }
  
  footer {
    font-size: 0.9rem;
    padding: 1.5rem 0;
    margin-top: 0;
    background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
    color: #fff;
    text-align: center;
  }
  
  .section-block:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  button.btn {
    min-width: 120px;
  }
  