 <!-- <div class="container my-5">
    <h2 class="mb-4">Gyermekeim</h2>
  
    Új gyermek hozzáadása
    <form [formGroup]="childForm" (ngSubmit)="onSubmit()" class="mb-4 row g-2">
      <div class="col-md-4">
        <input class="form-control" placeholder="Név" formControlName="name">
      </div>
      <div class="col-md-2">
        <input class="form-control" type="number" placeholder="Kor" formControlName="age">
      </div>
      <div class="col-md-2">
        <button class="btn btn-success w-100" type="submit">
          {{ isEdit ? 'Módosítás' : 'Hozzáadás' }}
        </button>
      </div>
      <div class="col-md-2" *ngIf="isEdit">
        <button class="btn btn-secondary w-100" (click)="cancelEdit()" type="button">Mégse</button>
      </div>
    </form> -->
   
    <!-- Gyermek kártyák -->
     <!-- <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let child of children">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">{{ child.name }}</h5>
            <p class="card-text">Kor: {{ child.age }}</p>
            <p class="text-muted" *ngIf="child.user?.name">Szülő: {{ child.user.name }}</p>
            <button class="btn btn-outline-primary btn-sm me-2" (click)="editChild(child)">Szerkesztés</button>
            <button class="btn btn-outline-danger btn-sm" (click)="deleteChild(child.id)">Törlés</button>
          </div>
        </div>
      </div>
    </div>
  </div>  -->
