    <div class="card shadow-sm text-center h-100">
    <img src="img/dog avatar.jpg" class="card-img-top rounded-circle mx-auto mt-3" style="width: 100px;" alt="Profilkép">
  
    <div class="card-body">
      <h5 class="card-title">{{ child.name }}</h5>
      <p class="card-text">Kor: {{ child.age }} év</p>
    </div>
  
    <div class="card-footer bg-transparent d-flex justify-content-around">
      <button class="btn btn-sm btn-outline-primary" (click)="edit.emit(child)">Szerkesztés</button>
      <button class="btn btn-sm btn-outline-danger" (click)="delete.emit(child.id)">Törlés</button>
    </div>
    <a [routerLink]="['/memorygame']" [queryParams]="{ gameId: 1 }" class="btn btn-sm btn-info">Memória játék</a>

  </div>
  