<!-- <div class="container mt-5">
    <h2>Üdvözlünk a szülői felületen!</h2>
    <p>Itt kezelheted a gyermekeidet, játékokat és megtekintheted a statisztikákat.</p>
  
     Később: komponensek beillesztése ide pl. child-selector, stat-panel, game-list stb. 
    <div class="container mt-4">
        <h2>Gyermek hozzáadása</h2>
      
        <form [formGroup]="childForm" (ngSubmit)="addChild()">
          <input formControlName="name" type="text" class="form-control mb-2" placeholder="Név" />
          <input formControlName="age" type="number" class="form-control mb-2" placeholder="Kor" />
          <button type="submit" class="btn btn-primary">Hozzáadás</button>
        </form>
      </div>
      
  </div> -->
  
   <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PikkyPad</a>
      <div>
        <a class="btn btn-outline-primary me-2" routerLink="/home-private">Főoldal</a>
        <a class="btn btn-outline-primary me-2" routerLink="/child-dashboard">Gyermekek</a>
        <a class="btn btn-outline-danger" routerLink="/">Kijelentkezés</a>
      </div>
    </div>
  </nav>
   <div class="container text-center mt-5">
    <h1>Üdvözlünk a PikkyPad szülői felületén!</h1>
    <p class="lead">Innen kezelheted a gyermekeidet és a hozzájuk tartozó játékokat.</p>
  
    <a routerLink="/child-dashboard" class="btn btn-primary mt-3">Gyermekek megtekintése</a>
   
  </div> 

  
  